.quiz .heading {
  padding: 0.1rem;
}
.quiz .quiz-container {
  font-family: Arial, sans-serif;
}
.quiz .quiz-container .form-group {
  background-image: url("../../img/about-2.jpg");
  background-size: cover;
  background-position: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  flex-flow: column;
}
.quiz .quiz-container .form-group .heading {
  color: white;
  margin: 0;
}
.quiz .quiz-container .form-group .heading span {
  padding: 0;
  color: white;
}
.quiz .quiz-container .form-group .error {
  border: 3px solid rgba(241, 193, 82, 0.7);
}
.quiz .quiz-container .form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 2rem;
  color: #fff;
  background-color: rgba(18, 68, 85, 0.5);
  margin: 1rem;
  width: 95%;
}
.quiz .quiz-container .form-group input:focus {
  border: 2px solid blueviolet;
  background-color: white;
  color: black;
}
.quiz .quiz-container .form-group input::-moz-placeholder {
  color: white;
  font-size: 2rem;
}
.quiz .quiz-container .form-group input::placeholder {
  color: white;
  font-size: 2rem;
}
.quiz .quiz-container .form-group button {
  padding: 10px;
  background: rgba(241, 193, 82, 0.7);
  color: black;
  border: 1px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  width: 95%;
  margin: 1rem;
}
.quiz .quiz-container .form-group button:hover {
  background: black;
  color: rgba(241, 193, 82, 0.7);
}
.quiz .quiz-container .results {
  padding: 1rem;
  background-color: #f2f2f2;
  height: auto;
  background-image: url("../../img/about-2.jpg");
  background-size: cover;
  background-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}
.quiz .quiz-container .results p {
  margin: 1rem;
  padding: 1rem;
  font-size: 2rem;
  border: solid 1px white;
  border-radius: 5px;
  color: white;
  font-family: "Noto Nastaliq Urdu";
  text-align: left;
}
.quiz .quiz-container .results h3 {
  margin: 10px;
  font-size: 18px;
}
.quiz .quiz-container .results div {
  margin: 10px;
  padding: 10px;
  background: linear-gradient(skyblue, blueviolet);
  border: 1px solid #550505;
  border-radius: 4px;
  color: black;
}
.quiz .quiz-container .results div .answers {
  margin: 5px;
  font-size: 1.5rem;
}
.quiz .quiz-container .results div .answers span {
  font-size: 3rem;
  background: white;
  width: 4rem;
  height: 4rem;
  border-radius: 40%;
  margin: 0.5rem;
}
.quiz .question-container {
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  max-width: 90vw;
  margin: 0 auto;
  margin: 1rem;
}
.quiz .question-container .userName {
  font-size: 1.5rem;
  padding-top: 2rem;
  font-family: Arial, Helvetica, sans-serif;
}
.quiz .question-container h1 {
  font-size: 1.5rem;
  font-family: "Calibari";
}
.quiz .question-container .timer h1 {
  color: blueviolet;
  font-size: 1.5rem;
}
.quiz .question-container .question {
  padding: 0 1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.quiz .question-container .question h2 {
  margin: 1rem 0.1rem;
  font-size: 1rem;
  text-align: right;
  font-family: "Noto Nastaliq Urdu";
  border: solid 1px blueviolet;
  padding: 0.5rem;
  border-width: auto;
  line-height: 1rem;
}
.quiz .question-container .question ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 20px;
  width: auto;
}
.quiz .question-container .question ul li {
  margin-bottom: 10px;
  border: solid 1px blueviolet;
  height: auto;
  padding: 0.5rem;
  width: auto;
}
.quiz .question-container .question ul li label {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 0.7rem;
  font-family: "Noto Nastaliq Urdu";
}
.quiz .question-container .question ul li label input[type=radio] {
  margin: 0 0 10px 0;
  width: 1rem;
  height: 1rem;
  display: inline;
}
.quiz .question-container .navigation-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.quiz .question-container .navigation-buttons .next {
  margin: 1rem;
  font-size: 16px;
  width: 40vw;
  display: inline-block;
  height: 3rem;
  cursor: pointer;
  color: black;
  background: linear-gradient(blueviolet, skyblue);
  border-radius: 5px;
}
.quiz .question-container .navigation-buttons .next:hover {
  background: #550505;
  color: white;
}
.quiz .question-container .navigation-buttons .back {
  margin: 1rem;
  font-size: 16px;
  width: 40vw;
  display: inline-block;
  border-radius: 5px;
  height: 3rem;
  cursor: pointer;
  color: black;
  background: linear-gradient(blueviolet, skyblue);
}
.quiz .question-container .navigation-buttons .back:hover {
  background: #550505;
  color: white;
}
.quiz .loading {
  margin: 20px;
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
}

.question-container-individual {
  max-width: 90vw;
  margin: 0 auto;
  padding: 20px;
  margin-top: 8rem;
}
.question-container-individual h1 {
  font-size: 2.5rem;
  text-align: left;
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.question-container-individual h2 {
  font-size: 2rem;
  font-family: "Noto Nastaliq Urdu";
  margin-bottom: 10px;
}
.question-container-individual ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 20px;
}
.question-container-individual li {
  margin-bottom: 10px;
  font-size: 2rem;
}
.question-container-individual label {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 2rem;
  font-family: "Noto Nastaliq Urdu";
}
.question-container-individual label input[type=radio] {
  margin-right: 10px;
  width: 2rem;
  height: 2rem;
}
.question-container-individual .btn {
  color: blueviolet;
  border-color: blueviolet;
  outline-color: blueviolet;
}
.question-container-individual .btn:hover {
  color: #fff;
}
.question-container-individual .answer-section {
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid #ccc;
}
.question-container-individual .answer-section p {
  font-size: 2rem;
  font-family: "Noto Nastaliq Urdu";
}

.dateAdded {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 10rem 1rem 1rem 1rem;
}
.dateAdded h1 {
  font-size: 4rem;
  font-family: "Times New Roman", Times, serif;
  margin: 1rem;
}
.dateAdded h1 span {
  color: red;
}
.dateAdded .text {
  font-size: 2rem;
  text-align: right;
  line-height: 4rem;
  margin: 1rem;
  font-family: "Noto Nastaliq Urdu";
}

.newresult {
  position: relative;
}
.newresult .container {
  display: inline-block;
}
.newresult .container img {
  display: block;
}
.newresult .container .text {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 4vw;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  width: 90%;
}
.newresult .btn {
  color: blueviolet;
  border-color: blueviolet;
  outline-color: blueviolet;
  width: 80%;
}
.newresult .btn:hover {
  color: #fff;
}

.studentResult {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 15rem;
  flex-flow: column;
}
.studentResult input {
  width: 90%;
  border: solid 1px blueviolet;
  color: black;
  padding: 1rem;
  height: 4rem;
  border-radius: 10px;
  font-size: 2rem;
  margin: 0.5rem;
}
.studentResult input ::-moz-placeholder {
  color: blueviolet;
  font-size: 1rem;
  margin: 1rem;
}
.studentResult input ::placeholder {
  color: blueviolet;
  font-size: 1rem;
  margin: 1rem;
}
.studentResult .btn {
  color: blueviolet;
  border-color: blueviolet;
  outline-color: blueviolet;
}
.studentResult .btn:hover {
  color: #fff;
}

.studentResult {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 15rem;
  flex-flow: column;
}
.studentResult input {
  width: 90%;
  border: solid 1px blueviolet;
  color: black;
  padding: 1rem;
  height: 4rem;
  border-radius: 10px;
  font-size: 2rem;
  margin: 0.5rem;
}
.studentResult input ::-moz-placeholder {
  color: blueviolet;
  font-size: 1rem;
  margin: 1rem;
}
.studentResult input ::placeholder {
  color: blueviolet;
  font-size: 1rem;
  margin: 1rem;
}
.studentResult .btn {
  color: blueviolet;
  border-color: blueviolet;
  outline-color: blueviolet;
}
.studentResult .btn:hover {
  color: #fff;
}

.student .box-container {
  padding: 5rem 10%;
  background-image: url("../../img/about-2.jpg");
}
.student .box-container .data p {
  margin: 1rem;
  padding: 1rem;
  font-size: 2rem;
  border: solid 1px white;
  border-radius: 5px;
  color: white;
  font-family: "Noto Nastaliq Urdu";
  text-align: left;
}
.student .box-container .data .card {
  margin: 1rem;
  padding: 1rem;
  font-size: 2rem;
  border: solid 1px white;
  border-radius: 5px;
  color: white;
  font-family: "Noto Nastaliq Urdu";
  text-align: left;
  background-color: rgba(5, 29, 37, 0.5);
}
.student .box-container .questionWise {
  margin: 10px;
  padding: 10px;
  background: linear-gradient(skyblue, blueviolet);
  border: 1px solid #550505;
  border-radius: 4px;
  color: black;
}
.student .box-container .questionWise h3 {
  margin: 10px;
  font-size: 18px;
  color: white;
}
.student .box-container .questionWise .answers {
  margin: 5px;
  font-size: 1.5rem;
  background: white;
  color: black;
  border-radius: 10px;
}
.student .box-container .questionWise .answers span {
  font-size: 1.5rem;
  background: white;
  width: 8rem;
  height: 2rem;
  border-radius: 50%;
  margin: 0.5rem;
}

@media (max-width: 1200px) {
  .newresult .container .text {
    top: 47%;
  }
}
@media (max-width: 1000px) {
  .newresult .container .text {
    top: 45%;
  }
}
@media (max-width: 768px) {
  .newresult .container .text {
    top: 42%;
  }
}
@media (max-width: 400px) {
  .newresult .container .text {
    top: 37%;
  }
}
.results-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

th,
td {
  padding: 12px;
  text-align: left;
}

th {
  background-color: #333;
  color: #fff;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

@media screen and (max-width: 600px) {
  th,
  td {
    font-size: 14px;
  }
}
@media screen and (max-width: 400px) {
  th,
  td {
    font-size: 12px;
    padding: 8px;
  }
}/*# sourceMappingURL=quiz.css.map */